page-eventos {
    
    .grid{
        margin-top: 70px;
    }
    
    .grid .row{
        font-size: 25pt;
        font-weight: bolder;
        
    }
    
    [col-auto]{
        color: map-get($colors, primary);
    }
    
    page-eventos ion-calendar .calendar-row .calendar-col
    {
        color: map-get($colors, primary);
    }
    
    ion-calendar .calendar-header-col
    {
        color: map-get($colors, primary);
    }
    
    .grid ion-icon{
        font-size: 15pt;
        margin-bottom: 70px;
    }
    
    ion-calendar .calendar-row .calendar-col {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1rem;
      font-size: 1.2rem;
      border-left: 1px solid map-get($colors, bgContent);
      border-top: 1px solid map-get($colors, bgContent);
    }
    
    ion-calendar {
      font-family: Helvetica, Arial, sans-serif;
        font-size: 20pt;
        color: map-get($colors, secondaryBlue);
        
    }
    
    
    
    ion-calendar .calendar-row .today {
      color: #fff;
      -webkit-box-shadow: inset 0 0 10px #aaa;
      box-shadow: inset 0 0 10px #aaa;
      background: map-get($colors, secondaryBlue);
    }

    ion-calendar .calendar-row .eventBlip {
      background: map-get($colors, secondaryBlue);
      width: 6.5px;
      height: 6.5px;
      display: inline-block;
      border-radius: 6.5px;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }

    ion-calendar .calendar-row .select {
      -webkit-box-shadow: none;
      box-shadow: none;
      color: map-get($colors, dark);
      background: map-get($colors, light);
    }
    
    
    @media (min-width: 300px) and (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    max-width: 280px;
    border-radius: 2px;
    width: 80vw;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
    
}
