<!--
  Generated template for the EntidadesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'header_entidades_page' | translate }}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
    <div text-center class="titlePage">{{ 'title_entidades_page' | translate }}</div>

    <div text-center class="marginTop">
        <p-autoComplete #input_text [(ngModel)]="text_select" [suggestions]="filterCountrySingle" (completeMethod)="filterCountrySingle($event)" [size]="30"
        placeholder="{{ 'entidades_entidades_page' | translate }}" [minLength]="4"></p-autoComplete>
    </div>


    <ion-list #list_options *ngIf="filteredCountriesSingle?.length > 0" >
        <ion-item  *ngFor="let c of filteredCountriesSingle" (click)="itemSelected(c)">{{getentityName(c)}}</ion-item>

    </ion-list>

    <div text-center class="marginTop">
        <button (click)="getInfoEntity()" ion-button color="succes" round>{{ 'consultar_entidades_page' | translate }}</button>
    </div>
</ion-content>
