<!--
  Generated template for the TasasPasivasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'header_tasas_page' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <div class="bgHeader">
        <div text-center class="titlePage">{{ 'tasa_pasiva_tasas_page' | translate }}</div>
    </div>
    <img class="divisor" src="assets/imgs/bar.png">

    <div text-center class="marginTopInit">
        <p-autoComplete text-center #input_text [(ngModel)]="text_select" [suggestions]="filterCountrySingle" (completeMethod)="filterCountrySingle($event)" [size]="30"
        placeholder="{{ 'entidades_entidades_page' | translate }}" [minLength]="4" ></p-autoComplete>
    </div>

    <ion-list class="list_options" #list_options *ngIf="filteredCountriesSingle?.length > 0" >
        <ion-item  *ngFor="let c of filteredCountriesSingle" (click)="itemSelected(c)">{{c.sigla}}</ion-item>
    </ion-list>


    <ion-input placeholder="{{ 'tipo_credito_tasas_activas_page' | translate }}" class="creditBox" #creditSelect [(ngModel)]="credit_select" (click)="openList()">{{ 'tipo_credito_tasas_activas_page' | translate }}</ion-input>

    <ion-list *ngIf="showCreditList" class="list_options" #listCredit >
        <ion-item  *ngFor="let c of typesCredit" (click)="itemTypeSelected(c)">{{c.tipo}}</ion-item>
    </ion-list>

    <div text-center class="marginTop">
        <button (click)="getInfoEntity()" ion-button color="succes" round>{{ 'consultar_entidades_page' | translate }}</button>
    </div>

</ion-content>
