page-home
{
    ion-content{
      background-color: map-get($colors, primary) !important;
    }

    .ion-datetime
    {
        color: map-get($colors, primary);
    }
    .scroll-content{
      background-color: map-get($colors, bgContent);
    }

    canvas {
        position: absolute;
        bottom: 100px;
    }
    .gapChart{
        /*background-color: map-get($colors, primary);*/
        background-color: map-get($colors, primary);
        width: 100%;
        bottom: 0px;
        position: absolute;
        height: 101px;
    }

    .trm-title{
      margin-top: 13pt;
        font-size: 20pt;
        /*color: map-get($colors, primary);*/
        color: map-get($colors, primary);
    }

    #imgCanvas{
      width:100%;
      display:none;
      position:absolute;
      bottom:92px;
    }

    .trm-info{
        font-size: 7pt;
        color: map-get($colors, dark);
    }

    .btn-date{
        margin-top: 10px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .last-ten-days{
      display: block;
      color: map-get($colors, secondaryBlue);
      margin: auto;
      margin-top: 50px;
      width: 200px;
      font-size: 16pt;
      text-align: center;
    }

    .trm-arrow{
        font-size: 25pt;
        color: limegreen;
        text-align: center;
        width: 100%;
        margin-top: 34px;
    }

    .trm-floating{
        position: absolute;
        bottom: 35px;
        /*left: 150px;*/
        right: 13px;
    }

    .trm-float-txt{
        font-size: 18pt;
    }
    .trm-float-txtminR{
        font-size: 7pt;
        color: red;
        margin-left: 20px;
        margin-top: -5px;
    }
    .trm-float-txtminG{
        font-size: 7pt;
        color: greenyellow;
        margin-left: 20px;
        margin-top: -5px;
    }
    .trm-float-txtday{
        font-size: 7pt;
        color: white;
        margin-left: 20px;
        margin-bottom: -5px;
    }
}
