page-tasas {
    
    .titlebtn{
        font-size: 20pt;
        padding: 10px;
        font-weight: bolder;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        
        color: map-get($colors, primary);
        border-left: 1px solid map-get($colors, danger);
        border-right: 1px solid map-get($colors, danger);
    }
    
    div.contained {
        height: 40vh;
        
    }
    div.contained:first-child {
        background: white;
    }
    
    .tasas-btn{
        padding-top: 30%;
    }
    
    .divisor{
        margin-top: -31px;
        position: absolute;
    }
    
    .line {
      border: 0;
      background-color: #000;
      height: 3px;
    }
}
