page-tasas {
    
    .titlebtn{
        font-size: 20pt;
        padding: 20px;
        font-weight: bolder;
        color: map-get($colors, primary);
    }
    
    div.contained {
        height: 40vh;
        
    }
    div.contained:first-child {
        background: white;
    }
    
    .tasas-btn{
        padding-top: 30%;
    }
    
    .divisor{
        margin-top: -31px;
        position: absolute;
    }
    
    .line {
      border: 0;
      background-color: #000;
      height: 3px;
    }
}
